nav {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  background: white;
  width: 100%;
  padding: 15px 25px;
  border-bottom: 1px solid lightgray; }
  nav button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin: 0 7.5px;
    border: none;
    background: transparent;
    font: 1.0rem "Comic Sans MS", sans-serif; }
    nav button:hover {
      color: #b00507;
      cursor: pointer; }

#app nav {
  z-index: 2;
  padding: 0;
  height: 30px; }
  #app nav button {
    opacity: 0; }
  #app nav:hover {
    padding: 15px 25px; }
    #app nav:hover button {
      opacity: 1; }

#landing header {
  background: #b00507;
  padding: 0 0 3px 0; }
  #landing header > img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: auto;
    padding: 60px 0; }
  #landing header > div {
    display: inline-block;
    width: 50%; }
  #landing header .left .preview {
    text-align: center;
    width: 550px;
    height: 295px;
    margin: auto;
    background: white;
    -webkit-border-radius: 18px 18px 0 0;
    -moz-border-radius: 18px 18px 0 0;
    border-radius: 18px 18px 0 0; }
    #landing header .left .preview img {
      width: 500px;
      margin-top: 25px;
      border: 1px solid lightgray; }
  #landing header .right {
    width: 600px;
    vertical-align: top; }
    #landing header .right h1 {
      color: white;
      font: 2.5rem "Comic Sans MS", sans-serif;
      margin: 10px 0; }
    #landing header .right .desc {
      color: lightgray;
      font: 1.0rem "Arial Black", sans-serif; }
    #landing header .right button {
      margin: 15px 0;
      font: 1.0rem Verdana, sans-serif;
      color: #b00507;
      background: #FFD262;
      border: none;
      border-bottom: 4px solid #CDA759;
      padding: 12.5px 30px;
      position: relative;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #landing header .right button:hover {
        top: 2px;
        border-bottom: 2px solid #CDA759;
        cursor: pointer; }
#landing .features {
  padding: 75px 0 50px 0; }
#landing .item {
  vertical-align: top;
  background: #f7f7f7;
  -webkit-box-shadow: 0 0 5px #bebebe;
  -moz-box-shadow: 0 0 5px #bebebe;
  box-shadow: 0 0 5px #bebebe;
  text-align: center;
  display: inline-block;
  width: 27%;
  height: 300px;
  margin: 0 3%;
  padding: 25px 0; }
  #landing .item .icon {
    margin: auto;
    background: white;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #b00507; }
    #landing .item .icon .fa {
      font-size: 1.5rem;
      margin-top: 13px; }
  #landing .item h2 {
    font: bold 1.5rem Garamond, sans-serif; }
  #landing .item .desc {
    font: 1.1rem Garamond, sans-serif;
    line-height: 1.25;
    padding: 0 30px;
    text-align: justify; }

#app {
  background: #c3c0b5; }
  #app .options {
    position: fixed;
    top: 30px;
    width: 100%;
    padding: 25px 0;
    background: #F2EFE4;
    border-bottom: 1px solid #b4b4b4; }
    #app .options > div {
      display: inline-block;
      width: 20%;
      text-align: center; }
      #app .options > div > div {
        position: relative;
        width: 125px;
        margin: auto; }
    #app .options .select {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: transparent;
      color: #5E473D;
      padding: 7.5px 15px;
      border: 1px solid lightgray;
      margin: auto;
      -webkit-box-shadow: 0 4px 5px -5px #000;
      -moz-box-shadow: 0 4px 5px -5px #000;
      box-shadow: 0 4px 5px -5px #000;
      font: .9rem "Arial Black"; }
    #app .options .veto-start .select:hover {
      background: #81d781;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
    #app .options .selectBox {
      position: relative; }
    #app .options .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer; }
  #app .alternatives {
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    bottom: 0;
    display: none; }
  #app .game-mode .alternatives, #app .game-length .alternatives {
    width: 152px; }
  #app .game-maps .alternatives, #app .game-veto .alternatives {
    width: 225px; }
  #app .alternatives .wrapper {
    width: 100%;
    padding: 15px;
    display: block;
    font: .9rem "Arial Black";
    background: #F2EFE4;
    color: #5E473D;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: 1px 1px 4px #b4b4b4, -1px 1px 4px #b4b4b4;
    -moz-box-shadow: 1px 1px 4px #b4b4b4, -1px 1px 4px #b4b4b4;
    box-shadow: 1px 1px 4px #b4b4b4, -1px 1px 4px #b4b4b4; }
    #app .alternatives .wrapper > div:not(.groups), #app .alternatives .wrapper > label {
      padding: 5px; }
      #app .alternatives .wrapper > div:not(.groups):hover, #app .alternatives .wrapper > label:hover {
        background: #AC2226 !important;
        color: #F2EFE4 !important;
        cursor: pointer; }
    #app .alternatives .wrapper .groups {
      color: #CB8C1D; }
    #app .alternatives .wrapper > label {
      text-align: left;
      display: block; }
      #app .alternatives .wrapper > label input[type=checkbox]:checked {
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -ms-transform: scale(1.75);
        -o-transform: scale(1.75);
        transform: scale(1.75); }
  #app .veto-window {
    padding: 100px 0 25px 0;
    text-align: center; }
    #app .veto-window .vetoes {
      padding: 25px 50px;
      width: 1000px;
      margin: auto; }
      #app .veto-window .vetoes .maps {
        vertical-align: top;
        width: 205px;
        height: 205px;
        display: inline-block;
        margin: 20px;
        -webkit-box-shadow: 0 0 10px #000;
        -moz-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000; }
        #app .veto-window .vetoes .maps:hover {
          cursor: pointer; }
  #app .Ban, #app .Pick {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    font: 2.0rem "Arial Black";
    line-height: 200px;
    border: 2px solid red;
    text-transform: uppercase;
    color: red;
    text-align: center; }
  #app .Pick {
    border: 2px solid lawngreen;
    color: lawngreen; }

/*# sourceMappingURL=style.css.map */
