// ===========================================
// Landing --> Header
// ===========================================

header
{
  background: #b00507;
  text-align: center;
  > img
  {
    background: url(/img/w3veto-logo.png);
  }
}