// ===========================================
// Landing --> Header
// ===========================================

header
{
  background: #b00507;
  padding: 0 0 3px 0;
  > img
  {
    @include wh(200px, 100px);
    object-fit: contain;
    display: block;
    margin: auto;
    padding: 60px 0;
    @media screen and (max-width: 520px) {padding: 60px 0 25px 0;};
  }
  > div
  {
    display: inline-block;
    width: 50%;
    @media screen and (max-width: 920px)
    {
      width: 80%;
      @media screen and (max-width: 520px) {width: 90%};
      margin: auto;
      text-align: center;
      display: block;

    }
  }
  .left
  {
    .preview
    {
      position: relative;
      text-align: center;
      @include wh(550px, 295px);
      @media screen and (max-width: 1160px) {@include wh(400px, 215px);}
      @media screen and (max-width: 520px) {@include wh(300px, 160px)};
      margin: auto;
      background: white;
      @include b-radius(18px 18px 0 0);
      img
      {
        width: 90%;
        margin-top: 25px;
        border: 1px solid lightgray;
      }
    }
  }
  .right
  {
    vertical-align: top;
    h1
    {
      color: white;
      font: 2.5rem "Comic Sans MS", sans-serif;
      margin: 10px 0;
      @media screen and (max-width: 1160px) {font: 2.0rem "Comic Sans MS", sans-serif;}
      @media screen and (max-width: 920px) {font: 1.75rem "Comic Sans MS", sans-serif};
      @media screen and (max-width: 520px) {font: 1.5rem "Comic Sans MS", sans-serif};

    }
    .desc
    {
      color: lightgray;
      font: 1.0rem "Arial Black", sans-serif;
    }
    button
    {
      position: relative;
      font: 1.0rem Verdana, sans-serif;
      color: #b00507;
      background: #FFD262;
      border: none;
      border-bottom: 4px solid #CDA759;
      padding: 12.5px 30px;
      margin: 20px 0;
      @include b-radius(4px);
      &:hover
      {
        cursor: pointer;
      }
    }
  }
}